*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
body{
    background-color: #EEE6E6;
    font-size: 18px;
}
header{
    background-color: #4A4033;
    width: 100%;
    color: white;
    height: 70px;
}
header .title{
    margin: 0 0 0 50px;
    font-size: 25px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline;
    float: right;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
.menu li a:hover{
    background-color: black;
    transition: 0.5s;
}
.menu .active{
    color: white;
}


.hero{
    width: 100%;
    height: 400px;
    background-color: #1D2F3B;
    color: white;
    display: flex;
}
.hero .content{
    width: 60%;
    height: 100%;
    background-color: #1D2F3B;
}
.content h1{
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    padding: 100px;
    text-align: center;
    font-size: 25px;
    margin: 50px 0 50px 15px;
}
.content strong{
    color: #1CD923;
}
.hero .content-image{
    width: 70%;
    height: 100%;
    background-color: #ffa323;
    border-left: 100px solid #1D2F3B;
    border-bottom: 400px solid transparent;
    background-image: url(/img/external-content.duckduckgo.com.jpg);
    background-position: -150px -100px;
    background-size: 1100px;
    background-repeat: no-repeat;
}


